@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

#personal {
	/* display: grid;
	justify-content: center;
	margin-top: 20px; */
	width: 65%;
	margin: auto;
	margin-top: 40px;
}

#reservation {
	width: 65%;
	margin: auto;
	margin-top: 40px;
}

#inoculation {
	width: 65%;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
}

.button {
    background-color: #4daeb2ff;
    border: none;
    border-radius: 18px;
    font-size: 15px;
    font-family: 'Noto Sans KR';
    color: #f4f4f4ff;
    width: 100px;
    height: 35px;
}
.tableTitle {
    text-align: left;
    height: 30px;
		font-family: 'Noto Sans KR';
		font-weight: 600;
		font-size: 20px;
		margin-bottom: 10px;
}
.tdTitle {
    background-color: #eeeeeeee;
    font-family: 'Noto Sans KR';
    font-size: 18px;
    text-align: center;
    width: 200px;
    height: 35px;
		border: 1px solid black;
	}
.tdContent {
    font-family: 'Noto Sans KR';
    font-size: 18px;
    text-align: center;
    width: 300px;
    height: 35px;
		border: 1px solid black;
}
.mypageTable {
    border: 1px solid black;
    border-collapse: collapse;
}
.font {
    font-family: 'Noto Sans KR';
    font-size: 18px;
}
#hname {
	width: 40%;
}

#vname{
	width: 20%;
}

.inoText {
	text-align: center;
	font-family: 'Noto Sans KR';
	font-size: 16px;
}