<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
		<meta charset='utf-8'>
		<link rel='stylesheet' href='/stylesheets/style.css'/>
		<script src="/javascripts/jquery-3.6.0.min.js"></script>
        <style>
            @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
            .click{
                font-family: 'Noto Sans KR';
                font-size: 20px;
            }
            .atag{
                display: inline-block;
                background-color: #4daeb2ff;
                border: none;
                border-radius: 20px;
                text-decoration: none;
                text-align: center;
                color: #f4f4f4ff;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 25px;
                padding-right: 25px;
                width: 180px;
                height: 32px;
            }
        </style>
    </head>
    <body>
        <div align="center" class="click">
            <p>회원가입이 성공적으로 완료되었습니다!</p>
            <a href="/vaccine/login" class="atag">로그인 화면으로</a>
        </div>
    </body>
</html>